body{
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: #e29126;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

.morpio{
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.row{
  flex: 1; /*occupe 1 sur la somme de tous les elements */
  display: flex;
}

h1{
  color: #e29126;
  font-family: 'Lobster', cursive;
  font-size: 1.7em;
}

.cell{
  flex: 1;
  background-color: #B3B3B3;
  margin : 2px;

}
.castor{
  flex: 1;
  margin : 2px;
  background-image: url('../assets/Castor.png');
  background-size: cover;
}
.dino{
  flex: 1;
  margin : 2px;
  background-image: url('../assets/Dino.png');
  background-size: cover;
}

.alert{
  font-size: 1em;
  font-family: 'Lobster', cursive;
}

.reset{
  font-size: 0.5em;
  background-color: #e29126;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
