body{
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: #e29126;
  text-align: center;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}

.morpio{
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.row{
  flex: 1; /*occupe 1 sur la somme de tous les elements */
  display: flex;
}

h1{
  color: #e29126;
  font-family: 'Lobster', cursive;
  font-size: 1.7em;
  margin: 0;
}

.cell{
  flex: 1;
  background-color: #B3B3B3;
  margin : 2px;

}
.castor{
  background-image: url('../assets/Castor.png');
}

.dino{
  background-image: url('../assets/Dino.png');
}

.dino, .castor{
  flex: 1;
  margin : 2px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: shake 0.05s;
  /* transition: transform 4s; */
}


.animalio, .animalioselect{
  max-width: 15%;
  margin: 1%;
}

.animalio:hover, .animalioselect{
  border: solid;
  border-width: 6px;
}

.choixjoueursparent{
  position: absolute;
  margin-top: 5vh;
  background-color: #fff;
  height: 80vh;
  display: flex;
  flex-direction: column;
    max-width: 50vw;
}

.choixinvisible{
display: none;
}

.choixjoueurs{
  max-width: 50vw;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.alertvisible{
  font-size: 1em;
  font-family: 'Lobster', cursive;
  margin: 5px;
}

h2{
  font-size: 1em;
  font-family: 'Lobster', cursive;
}

.alert{
  display: none;
}

.reset, .newgame, .play{
  font-size: 0.5em;
  background-color: #e29126;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.ok1, .ok2{
  font-size: 0.1em;
  background-color: #e29126;
  border: none;
  color: white;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
}

.score{
  margin: 5px;
  font-size: 0.5em;
}

.button{
  display: flex;
}

.play{
  float: right; /*WHY ?*/
  margin-top: 3vw;
  width: 9vw;
}
